﻿
@{
    ViewData["Title"] = "Index";
}


<div class="header-base">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="title-base text-left">
                    <h1>Portfolio four</h1>
                    <p>Projects and clients portfolio</p>
                </div>
            </div>
            <div class="col-md-3">
                <ol class="breadcrumb b white">
                    <li><a href="#">Home</a></li>
                    <li class="active">Portfolio</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="section-empty section-item">
    <div class="content container">
        <div class="maso-list gallery list-sm-6">
            <div class="navbar navbar-inner">
                <div class="navbar-toggle"><i class="fa fa-bars"></i><span>Menu</span><i class="fa fa-angle-down"></i></div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav nav-center over inner maso-filters">
                        <li class="current-active active"><a data-filter="maso-item">All</a></li>
                        <li><a data-filter="cat1">Landscapes</a></li>
                        <li><a data-filter="cat2">Abstracts</a></li>
                        <li><a data-filter="cat3" href="#">Interior design</a></li>
                        <li><a class="maso-order" data-sort="asc"><i class="fa fa-arrow-down"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="maso-box row" data-lightbox-anima="fade-top">
                <div data-sort="2" class="maso-item col-md-4 col-sm-6 cat1 cat3">
                    <div class="img-box adv-img adv-img-classic-box">
                        <a class="img-box mfp-inline" href="#PORTFOLIO_BOX_1">
                            <img src="../images/gallery/image-1.jpg" alt="">
                        </a>
                        <div class="caption">
                            <div class="caption-inner">
                                <h2>Sporting research</h2>
                                <p class="sub-text">Financial</p>
                                <p class="big-text">
                                    Lorem ipsum dolor sit consectetur adipiscing elito sed do eiusmod tempore lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod temporo.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-sort="3" class="maso-item col-md-4 col-sm-6 cat1 cat3">
                    <div class="img-box adv-img adv-img-classic-box">
                        <a class="img-box mfp-inline" href="#PORTFOLIO_BOX_1">
                            <img src="../images/gallery/image-2.jpg" alt="">
                        </a>
                        <div class="caption">
                            <div class="caption-inner">
                                <h2>Notebook softwares</h2>
                                <p class="sub-text">Financial</p>
                                <p class="big-text">
                                    Lorem ipsum dolor sit consectetur adipiscing elito sed do eiusmod tempore lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod temporo.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-sort="2" class="maso-item col-md-4 col-sm-6 cat2">
                    <div class="img-box adv-img adv-img-classic-box">
                        <a class="img-box mfp-inline" href="#PORTFOLIO_BOX_1">
                            <img src="../images/gallery/image-3.jpg" alt="">
                        </a>
                        <div class="caption">
                            <div class="caption-inner">
                                <h2>Server farms</h2>
                                <p class="sub-text">Research</p>
                                <p class="big-text">
                                    Lorem ipsum dolor sit consectetur adipiscing elito sed do eiusmod temporelorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod temporo.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-sort="4" class="maso-item col-md-4 col-sm-6 cat1 cat2">
                    <div class="img-box adv-img adv-img-classic-box">
                        <a class="img-box mfp-inline" href="#PORTFOLIO_BOX_1">
                            <img src="../images/gallery/image-4.jpg" alt="">
                        </a>
                        <div class="caption">
                            <div class="caption-inner">
                                <h2>Power Units</h2>
                                <p class="sub-text">Research</p>
                                <p class="big-text">
                                    Lorem ipsum dolor sit consectetur adipiscing elito sed do eiusmod tempore lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod temporo.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-sort="5" class="maso-item col-md-4 col-sm-6 cat3">
                    <div class="img-box adv-img adv-img-classic-box">
                        <a class="img-box mfp-inline" href="#PORTFOLIO_BOX_1">
                            <img src="../images/gallery/image-5.jpg" alt="">
                        </a>
                        <div class="caption">
                            <div class="caption-inner">
                                <h2>Universe shuttle</h2>
                                <p class="sub-text">Biochimical research</p>
                                <p class="big-text">
                                    Lorem ipsum dolor sit consectetur adipiscing elito sed do eiusmod tempore lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod temporo.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-sort="6" class="maso-item col-md-4 col-sm-6 cat1 cat3">
                    <div class="img-box adv-img adv-img-classic-box">
                        <a class="img-box mfp-inline" href="#PORTFOLIO_BOX_1">
                            <img src="../images/gallery/image-6.jpg" alt="">
                        </a>
                        <div class="caption">
                            <div class="caption-inner">
                                <h2>Nano machines</h2>
                                <p class="sub-text">Financial</p>
                                <p class="big-text">
                                    Lorem ipsum dolor sit consectetur adipiscing elito sed do eiusmod tempore lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod temporo.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-sort="7" class="maso-item col-md-4 col-sm-6 cat1 cat2">
                    <div class="img-box adv-img adv-img-classic-box">
                        <a class="img-box mfp-inline" href="#PORTFOLIO_BOX_1">
                            <img src="../images/gallery/image-7.jpg" alt="">
                        </a>
                        <div class="caption">
                            <div class="caption-inner">
                                <h2>Hyperloop collaboration</h2>
                                <p class="sub-text">Interior design</p>
                                <p class="big-text">
                                    Lorem ipsum dolor sit consectetur adipiscing elito sed do eiusmod tempore lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod temporo.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-sort="8" class="maso-item col-md-4 col-sm-6 cat1 cat2">
                    <div class="img-box adv-img adv-img-classic-box">
                        <a class="img-box mfp-inline" href="#PORTFOLIO_BOX_1">
                            <img src="../images/gallery/image-8.jpg" alt="">
                        </a>
                        <div class="caption">
                            <div class="caption-inner">
                                <h2>Portrait meddically</h2>
                                <p class="sub-text">Technology</p>
                                <p class="big-text">
                                    Lorem ipsum dolor sit consectetur adipiscing elito sed do eiusmod tempore lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod temporo.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-sort="9" class="maso-item col-md-4 col-sm-6 cat1 cat2">
                    <div class="img-box adv-img adv-img-classic-box">
                        <a class="img-box mfp-inline" href="#">
                            <img src="../images/gallery/image-9.jpg" alt="">
                        </a>
                        <div class="caption">
                            <div class="caption-inner">
                                <h2>Intel processors</h2>
                                <p class="sub-text">Technology</p>
                                <p class="big-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidid lor sit amet consectetur adipiscing elitsed do eiusmod temporo.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-sort="10" class="maso-item col-md-4 col-sm-6 cat1 cat2">
                    <div class="img-box adv-img adv-img-classic-box">
                        <a class="img-box mfp-inline" href="#">
                            <img src="../images/gallery/image-10.jpg" alt="">
                        </a>
                        <div class="caption">
                            <div class="caption-inner">
                                <h2>Nano technologies</h2>
                                <p class="sub-text">Technology</p>
                                <p class="big-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-sort="11" class="maso-item col-md-4 col-sm-6 cat1 cat2">
                    <div class="img-box adv-img adv-img-classic-box">
                        <a class="img-box mfp-inline" href="#">
                            <img src="../images/gallery/image-11.jpg" alt="">
                        </a>
                        <div class="caption">
                            <div class="caption-inner">
                                <h2>Smarthpone security</h2>
                                <p class="sub-text">Technology</p>
                                <p class="big-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-sort="11" class="maso-item col-md-4 col-sm-6 cat1 cat2">
                    <div class="img-box adv-img adv-img-classic-box">
                        <a class="img-box mfp-inline" href="#">
                            <img src="../images/gallery/image-12.jpg" alt="">
                        </a>
                        <div class="caption">
                            <div class="caption-inner">
                                <h2>Virtual Reality Kit</h2>
                                <p class="sub-text">Technology</p>
                                <p class="big-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="list-nav">
                <a href="#" class="btn btn-sm circle-button load-more-maso" data-pagination-anima="fade-bottom" data-page-items="9">
                    Load More
                    <i class="fa fa-arrow-down"></i>
                </a>
            </div>
        </div>
        <hr class="space m" />
    </div>
</div>

