﻿@{
    ViewData["Title"] = "Home";
}

<div class="section-bg-color">
    <div class="container content">
        <hr class="space m" />
        <div class="row">
            <div class="col-md-7 col-sm-12">
                <h2 class="text-normal">Our buildings company serve<br />several needs of society</h2>
                <p class="text-color text-normal text-m no-margins">Primarily as shelter from weather, security, living space.</p>
                <hr class="space s" />
                <hr />
                <hr class="space s" />
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="text-normal">Weather for the infrastructures</h4>
                        <p>
                            Lorem ipsum dolor sit amet consece partisio.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h4 class="text-normal">Living space and outdoor gardens</h4>
                        <p>
                            Lorem ipsum dolor sit amet consecteto.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h4 class="text-normal">Home and building security and hacking</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetu
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 hidden-sm visible-xs pull-right" data-anima="fade-right">
                <hr class="space m visible-sm" />
                <img src="~/images/Home/qaimaq-homebanner.jpg" title="qaimaq business intelligence" />
            </div>
        </div>
        <hr class="space m" />
    </div>
</div>
<div class="section-bg-color bg-color white">
    <div class="container content">
        <div class="row">
            <div class="col-md-2">
                <div class="icon-box counter-box-icon">
                    <div class="icon-box-cell">
                        <i class="fa fa-group text-xl"></i>
                    </div>
                    <div class="icon-box-cell">
                        <label class="counter text-l" data-speed="5000" data-to="1600">1.600</label>
                        <p>Workers</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="icon-box counter-box-icon">
                    <div class="icon-box-cell">
                        <i class="fa fa-bar-chart text-xl"></i>
                    </div>
                    <div class="icon-box-cell">
                        <label class="counter text-l" data-speed="5000" data-to="400">400</label>
                        <p>Trucks</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="icon-box counter-box-icon">
                    <div class="icon-box-cell">
                        <i class="fa fa-building-o text-xl"></i>
                    </div>
                    <div class="icon-box-cell">
                        <label class="counter text-l" data-speed="5000" data-to="6000">6000</label>
                        <p>Prjects</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="icon-box counter-box-icon">
                    <div class="icon-box-cell">
                        <i class="fa fa-user-md text-xl"></i>
                    </div>
                    <div class="icon-box-cell">
                        <label class="counter text-l" data-speed="5000" data-to="500">500</label>
                        <p>Specialists</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="icon-box counter-box-icon">
                    <div class="icon-box-cell">
                        <i class="fa fa-home text-xl"></i>
                    </div>
                    <div class="icon-box-cell">
                        <label class="counter text-l" data-speed="5000" data-to="5000">5000</label>
                        <p>Buildings</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="icon-box counter-box-icon">
                    <div class="icon-box-cell">
                        <i class="fa fa-map-o text-xl"></i>
                    </div>
                    <div class="icon-box-cell">
                        <label class="counter text-l" data-speed="5000" data-to="30">30</label>
                        <p>Countries</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-empty">
    <div class="container content">
        <div class="row">
            <div class="col-md-3 boxed-inverse">
                <div class="title-base text-left">
                    <hr />
                    <h2>Services</h2>
                    <p>Our offert</p>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elitsed diusto pulvinar consequuntur augue optio, repo eiusmod tempor incididunt utlabore et dolore magna urus expedita fusce cillum, voluptatibus saliqua.
                </p>
                <hr class="space m" />
                <a href="#" class="circle-button btn btn-sm">View all services</a>
            </div>
            <div class="col-md-9 col-sm-12">
                <hr class="space visible-sm" />
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="text-normal">Outdoor</h4>
                        <p>
                            Interdum iusto pulvinar consequuntur augue optio, repellat fuga! Purus expelum, voluptatibus sapiente.
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                    <div class="col-md-4">
                        <hr class="space m visible-xs" />
                        <h4 class="text-normal">Indoor</h4>
                        <p>
                            Interdum iusto pulvinar consequuntur augue optio fusce cillum, voluptatibus repellat fuus expedita fusce.
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                    <div class="col-md-4">
                        <hr class="space m visible-xs" />
                        <h4 class="text-normal">Renovation</h4>
                        <p>
                            Interdum iusto pulvinar consequuntur augue optio,  fusce cillum, voluptatibus  fugrus expedita fusce parloto.
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                </div>
                <hr class="space m" />
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="text-normal">Houses and flats</h4>
                        <p>
                            Interdum iusto pulvinar consequuntur augue optio, repellat fuga! Purus expedita fusce tatibus sapiente.
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                    <div class="col-md-4">
                        <hr class="space m visible-xs" />
                        <h4 class="text-normal">Consulting</h4>
                        <p>
                            Interdum iusto pulvinar consequuntur augue optio fusce cillum, voluptatibus repellat fuga! Purus expedita fusce.
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                    <div class="col-md-4">
                        <hr class="space m visible-xs" />
                        <h4 class="text-normal">Metal roofing</h4>
                        <p>
                            Interdum iusto pulvinar consequuntur augue optio,  fusce cillum, voluptatibus  fugrus expedita fusce parloto.
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                </div>

                <hr class="space m" />
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="text-normal">Houses and flats</h4>
                        <p>
                            Interdum iusto pulvinar consequuntur augue optio, repellat fuga! Purus expedita fusce tatibus sapiente.
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                    <div class="col-md-4">
                        <hr class="space m visible-xs" />
                        <h4 class="text-normal">Consulting</h4>
                        <p>
                            Interdum iusto pulvinar consequuntur augue optio fusce cillum, voluptatibus repellat fuga! Purus expedita fusce.
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                    <div class="col-md-4">
                        <hr class="space m visible-xs" />
                        <h4 class="text-normal">Metal roofing</h4>
                        <p>
                            Interdum iusto pulvinar consequuntur augue optio,  fusce cillum, voluptatibus  fugrus expedita fusce parloto.
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-bg-color bg-color white">
    <div class="container content">
        <div class="row vertical-row">
            <div class="col-md-6">
                <form action="http://www.framework-y.com/scripts/php/contact-form.php" class="form-box form-ajax form-inline white" method="post" data-email="federico@pixor.it">
                    <input id="email" name="email" placeholder="Type your email..." type="email" class="form-control form-value" required="">
                    <hr class="space m">
                    <button class="btn btn-sm" type="submit">Join now</button>
                    <div class="success-box">
                        <div class="alert alert-success">Congratulations. Your message has been sent successfully</div>
                    </div>
                    <div class="error-box">
                        <div class="alert alert-warning">Error, please retry. Your message has not been sent</div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <p class="text-s">
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod iaculis eu
                    lacus nunc mi elitvehicula ut laoreet acaliquam.
                </p>
            </div>
        </div>
    </div>
</div>
